.timeline {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  z-index: 1000;
  filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.5));
}

.timeline-line {
  position: absolute;
  width: 1px;
  height: calc(100% + 100px);
  top: -50px;
  z-index: -1;
  background-image: url(/images/timeline_line.png);
  background-size: 100% 100%;
}

.timeline-item {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: #1D1D1B;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;

  &:before {
    content: " ";
    display: block;
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    top: -3px;
    left: -3px;
    z-index: 0;
    background-color: transparent;
    border-radius: 50%;
    border: 5px solid #AAA;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    opacity: 0;
    transition: 0.2s;
  }
}

.timeline-item:hover {
  background-color: #AAA;
}

.timeline-item.active {
  background-color: #1D1D1B;

  &:before {
    opacity: 1;
  }
}

.timeline-item-title {
  position: absolute;
  top: 50%;
  left: -95px;
  transform: translateY(-50%);
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  line-height: 1.2em;
}

// Specific styling for section-3 (Beyond the horizon's edge) to prevent overflow
.timeline-item-section-3 .timeline-item-title {
  white-space: normal;
  max-width: 250px;
  text-align:left;
}

.timeline-item:hover .timeline-item-title {
  opacity: 1;
}

@media (max-width: 768px) {
  .timeline {
    position: fixed;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    flex-direction: row;
    top: auto;
    gap: 30px
  }

  .timeline-line {
    width: 100%;
    height: 2px;
    display: none;
  }

  .timeline-item-title {
    display: none;
  }
}